.ranking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  text-align: center;
  margin-top: 1.5rem;
}

.player {
  width: 90%;
  background-color: #a4dddd;
  margin-top: 1rem;
}

.player:nth-child(1) {
  background-color: gold;
}

.player:nth-child(2) {
  background-color: silver;
}

.player:nth-child(3) {
  background-color: #cd7f32;
}